/* Global color settings */
:root {
    --dark: rgb(0, 0, 133);
    --mid: rgb(0, 0, 255);
    --light: rgb(206, 227, 255);
}

/* forces a slower scroll to anchor tags */
* {
    scroll-behavior: smooth;
}

/* set color and removes stlying for links */
a {
    color: var(--light);
    text-decoration: none; 
  }
  
  body {
    background: radial-gradient(circle, rgb(107, 163, 255) 0%, rgb(6, 0, 97) 100%);
    background-attachment: fixed;
    overflow: hidden;
    /* pick a better font family */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

/* don't forget this is your container for sidebar and monogram */
header {
    display: flex;
    position: fixed;
    width: 100px;
    height: 100%;
    flex-direction: column;
    margin-right: 100px;
}


.content {
    display: flex;
    height: 100%;
}

/* initials to be anchored to the top left */
.monogram {
    font-size: 40px;
    text-align: center;
    height: 47px;
    border: 4px;
    border-style: double;
    border-color: var(--light);
    color: var(--light);
}

/* sidebar - points to work and links */
.sidebar {
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;

}

.sideLink {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px;
    border-style: double;
    border-color: var(--light);
    color: var(--light);
}

main {
    height: 100vh;
}

.panel {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

#selfie {
    display: block;
    max-width: 275px;
    max-height: 200px;
    width: auto;
    height: auto;
    border: 4px;
    border-style: double;
    border-color: var(--light);
}

.tBox {
    display: block; 
    height: 250px;
    width: 150px;
    margin-left: 10px;
}

.tBox h1 {
    font-size: 150%;
}

.tBox h2 {
    font-size: 125%;
}

.tBox h3 {
    margin-top: 5px;
}

/* Contact Me links */
/* TODO figure out a better layout especially with the spacing around the email */
.conLink {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 4px;
    border-style: double;
    border-color: var(--light);
    color: var(--light);
    text-align: center;
}

/* contact list*/
.conList {
    display: flex;
    flex-direction: column;
}